html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
box-sizing: inherit;

}
:root{
    /* =============clor============ */
    --accent-color:#2196F3;
    --main-text-color:#757575;
    --hover-btn-color:#188CE8;
    --main-text-color-w:#FFFFFF;
    --main-text-color-b:#212121;
    --background-color-grey:#2F303A;
    --background-color-body:#FFFFFF;
    --section-bg:#F5F4FA;

    --svg-color:#AFB1B8;



    /* ================fonts=========== */
    --main-font:'Roboto';
    --sekondary-font:'Raleway';
    /* ==========cards --================= */
    
        --page-bg-color: #f9f9fd;
        --primary-text-color: #212121;
        --card-set-gap: 20px;
        --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    
}
/* ----------селектор * для встановлення на всі єлеемнти */

.hero{
   max-width: 1600px;
   margin: 0 auto;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
  

}

/* Решта коду */
/* * ----------селектор * для встановлення на всі єлеемнти */ 
body {
    margin: 0;
    font-family: var(--main-font), sans-serif;
    background-color: var(--background-color-body);
    
}
    /* для центрування і обмеження контенту по ширині. */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul{

margin: 0;

    }
    .card-border {
        padding-top: 20px;
        padding-right: 24px;
        padding-bottom: 20px;
        padding-left: 24px;
        border-top: 1px solid #ECECEC;

        border-right: 1px solid #ECECEC;
        border-bottom: 1px solid #ECECEC;
        border-left: 1px solid #ECECEC;

        
    }
.card-border > h3,
.card-border > p{
    text-decoration: none;
    
    text-align: left;
}


.card-set{

  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  

    }


.card-set > .item{

flex-basis: calc(100% / 3 - 30px);
margin-left: 30px;
margin-top: 30px;


}

.link-prtf {

    display: inline-block;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.link-prtf:hover,
.link-prtf:focus {

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.imgcard-prtf {

    position: relative;
    overflow: hidden;



}

.imgcard-prtf::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(calc(-50% + 150%));
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-prtf:hover ::before,
.link-prtf:focus ::before {
    transform: translateY(calc(0%))
}

.paragraph-card {
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    display: inline-block;
    font-family: 'Roboto';

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;


    letter-spacing: 0.03em;

    color: var(--main-text-color-w);
    transform: translateY(calc(-50% + 150%));
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.link-prtf:hover .paragraph-card,
.link-prtf:focus .paragraph-card {
    transform: translateY(calc(0%))
}
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .section{

        padding-top: 94px;
        padding-bottom: 94px;
    }
    .section-doing{
        padding-bottom: 94px;
    }
 
    .container {
    width: 1200px;
    
    padding-left: 15px;
    padding-right: 15px;

    
    margin-left: auto;
    margin-right: auto;
    }
.header-container{
    display: flex;
    align-items: center ;
    
}
.navigation {
    display: flex;
    align-items: center;

}

  
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


.bg-color{
    background-color: var(--section-bg);
}

.list{
    display: flex;
    align-items: center;
    margin-left: auto;
    list-style: none;
    padding: 0;
}
.list-portfolio {
    display: flex;
    
    
    list-style: none;
    padding: 0;
}

.list-adress{
    list-style: none;
    padding:  0 ;
}

.contact:last-child{
    margin-right: 0;
}


/* ==========================header========================= */
.logo{
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 95px;
    font-family: var(--sekondary-font), sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-text-color);

 /* рамочка для обнар. маржина */
    /* outline: 2px solid tomato; */
/* рамочка для обнар. маржина */
    letter-spacing: 0.03em;

    color: var(--main-text-color-b);
}


.main-header{

    border-bottom: 1px solid #ECECEC;
}


.logo-color{
color: var(--accent-color);
}


.menu-item:last-child{
    margin: 0;
}
.menu-item {
    margin-right: 50px;
    
}

.link {
    
    text-decoration: none;
}


.menu-link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
  
    color: var(--main-text-color-b);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.mail-link-header {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--main-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-icon {
   display: inline-block;
   vertical-align: middle;
    fill: #757575;
    margin-right: 7px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .contact-number-header:hover .contact-icon,
 .contact-number-header:focus .contact-icon {
    fill: var(--accent-color);
 }

 .mail-link-header:hover .contact-icon,
 .mail-link-header:focus .contact-icon {
     fill: var(--accent-color);
 }

 .contact-number-header:hover,
 .contact-number-header:focus{
     color: var(--accent-color);

 }
 .mail-link-header:hover,
 .mail-link-header:focus {
    color: var(--accent-color);
}


.mail-link-header:focus .contact-icon{
    fill: var(--accent-color);
}

.contact-number-header:focus .contact-icon {
    fill: var(--accent-color);
}

.current{
    color: var(--hover-btn-color);
}

.current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 50px;
   
}

.contact-number-header {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--main-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}





/* =======================/header==================== */

/* ========================hero====================== */
.table-h1{
max-width: 700px;
margin-right: auto;
margin-bottom: 30px;
margin-left: auto;
text-transform: uppercase;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
color: var(--main-text-color-w);
letter-spacing: 0.06em;
}

.bgcolor-hero{
    background-image:linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),  url(../img/hero-bg.jpg); 

    background-color: var(--background-color-grey);
    background-repeat: no-repeat;

    background-size: cover;
    background-position: center;
    
}
.btn-primary:hover,
.btn-primary:focus{
background-color:var(--accent-color);
color: var(--main-text-color-w);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
 .btn-primary{
     padding-top: 4px;
     padding-right: 24px;
     padding-bottom: 4px;
     padding-left: 24px;

    background: var(--section-bg);
    border-radius: 4px;
    cursor: pointer;
    border: 0;

    font-family: var(--main-font) sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.btn-secondary {

    margin-right: 8px;
    
}
.btn-secondary:last-child{
    margin-right: 0;
}
.button {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    margin-left: auto;
    list-style: none;
    padding: 0;
    justify-content: center;
}




.modal-btn {

font-family: var(--main-font) sans-serif;;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.88;

display: block;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
cursor: pointer;

color: var(--main-text-color-w);
background-color: var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: 0;

padding: 10px 32px 10px 32px;
margin-right: auto;
margin-left: auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-btn:hover,
.modal-btn:focus{

 background-color:var(--hover-btn-color);
}


/* ========================/hero============================ */

/* ===========================section2=================== */
.table-of-contents{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--main-text-color-b);
}
.paragraph-h3{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    
    letter-spacing: 0.03em;
    
    color: var(--main-text-color);
}
.table{
    width: 270px;
    margin-right: 30px;
}
.table:last-child{
    margin: 0;
}
.box-contents{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}
/* ===========================/section2================ */

/* ===========================section3================ */

.thumb-h3 {
    position: relative;
}

.text-img {
    position: absolute;
    bottom: 0;

    width: 370px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(47, 48, 58, 0.8);
}

.table-of-contents-h2 {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color-b);
    
}

.parag-s3-img {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.img-s3 {

    margin-right: 30px;

}

.img-s3:last-child {
    margin: 0;
}
/* ===========================/section3================ */


/* =====================section4============ */

.pudding-for-texts4{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
  
}

.paragraph-s4{
    margin-bottom: 16px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;

}
.paragfaph-card-portfolio{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;

    letter-spacing: 0.03em;

    color: #757575;

}

.paragraph-colors{
    color: var(--main-text-color);
}
.table-h3-portfolio{

 margin-bottom: 4px;
    text-align: center;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--main-text-color-b);
}
.table-h3{
    margin-bottom: 10px;
    font-family: var(--main-font);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 0.84;
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color: var(--main-text-color-b);

}

 .img-s4:last-child {
    margin: 0;
}

.img-s4{

    background: var(--background-color-body);
    

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
} 


.card {
    max-width: 320px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 0px 0px 4px 4px;
    overflow: hidden;
    background-color: var(--main-text-color-w);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
}

.socials-item {
    display: inline-block;
    list-style: none;

}
.socials {
    
    display: flex;
    justify-content: center;
    padding: 0;
}

.socials-item:not(:last-child) {
    margin-right: 10px;
}

.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon{
    fill: var(--main-text-color-w);
}



.socials-link:hover,
.socials-link:focus {
    background-color: #2196F3;
}
/* =====================/section4============ */

   /* < !--=======================section5================--> */
    .clients{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
        width: 170px;
        height: 92px;
        list-style: none;
     
    }
    .clients-link:hover .clients-logo,
    .clients-link:focus .clients-logo{
        fill: var(--accent-color);
    }
   

    .clients-link:hover,
    .clients-link:focus{
        border-color: var(--accent-color);
    }

    .clients:last-child{
        margin-right: 0;
    }

    .clients-item{
        display: flex;
        padding: 0;
    }

    .clients-link{

        align-items: center;
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;

            border: 1px solid #AFB1B8;
            border-radius: 4px;

            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    }

.clients-logo{
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

  /* < !--=======================/section5================--> */


/* =======================footer==================== */

.box-flex {
    display: flex;

}

.socials-box {
    display: inline-block;
}

.socialsbox {
    display: inline-block;
}

.address {
    margin-right: 85px;
}


/*-------------------- social iconns---------- */
.socials-footer {
    display: flex;
    padding: 0;

}

.socials-link-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link-footer:hover,
.socials-link-footer:focus {
    background-color: var(--hover-btn-color);
}

/* --------------------social icons------------- */
.join {
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--main-text-color-w)
}

.socialsbox-paragraph {
    margin-right: 154px;
}


.socials-icon-footer {

    fill: var(--main-text-color-w);
}








.socials-item-footer {
    display: inline-block;
    list-style: none;

}


.socials-item-footer:not(:last-child) {
    margin-right: 10px;
}

.adress-footer {
    margin-bottom: 10px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: var(--main-text-color-w);

}

.footer-container {
    display: flex;
    align-items: baseline;
}


.adress-footer-marg {
    margin-bottom: 10px;
}


.footer-flexbox {
    display: flex;
    align-items: baseline;
}


.footer {
    background-color: var(--background-color-grey);
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer {
    display: inline-block;

    margin-bottom: 20px;
    font-style: normal;
    font-family: var(--sekondary-font), sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-text-color);

    letter-spacing: 0.03em;

    color: var(--main-text-color-b);
}

.logo-footer-color {

    color: var(--main-text-color-w);
}

.mail-link-footer {
    display: inline-block;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mail-link-footer:hover,
.mail-link-footer:focus {
    color: var(--accent-color);
}

.contact-number-footer {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-number-footer:hover,
.contact-number-footer:focus {
    color: var(--accent-color);

}
/* =======================/footer==================== */

/* ===================backdrop================== */


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;

}

/* ===================backdrop/================== */

/* ================МОДАЛКА====================== */
.modal {
    position: absolute;
    min-width: 528px;
    height: 581px;
    padding: 40px;
    top: 50%;
    left: 50%;

    border-radius: 4px;
    background: #FFFFFF;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: transparent;
    cursor: pointer;
    background: #FFFFFF;
    background-origin: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline-color: transparent;

}

.close-btn:focus {
    outline-color: var(--accent-color);
}

.close-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--main-text-color-b);

}

.close-btn:hover .close-svg {
    fill: var(--accent-color);

}

/* ================МОДАЛКА/====================== */

/* ==============form================== */

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;


    letter-spacing: 0.03em;

    color: #757575;

}

.btn-submit {
    padding-left: 53px;
    padding-right: 53px;
}



.checkbox:checked+.icon-checkbox .form-checkbox-icon{

  opacity: 1;
  
}

.form-checkbox-icon{
    position: absolute;
    top: -2px;
    left: -2px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.icon-checkbox {
    position: relative;
    margin-right: 8px;
    display: inline-block;
    width: 16px;
    height: 15px;
    fill: var(--main-text-color-w);
    border: 2px solid black;
    border-radius: 2px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-checkbox:hover,
.icon-checkbox:focus {
    border-color: var(--accent-color);

}

.treaty {
    padding-left: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;

    letter-spacing: 0.03em;
    text-decoration-line: underline;

    color: #2196F3;
}

.textarea {
    width: 100%;
    height: 120px;
    padding-left: 15px;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);

    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    resize: none;


    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:hover,
.textarea:focus {
    border-color: var(--accent-color);
    outline-color: var(--accent-color);

}

.modal-paragraph {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-text-color-b);
}

.form-input:focus+.form-label {
    color: var(--accent-color);
}



.checkbox-tumb {
    display: flex;
    justify-content: center;

}

.form-label {
    display: block;

}


.form-svg-tumb{
    position: relative;
}

.form-field:focus-within .modal-icon {
    fill: var(--accent-color);
}



.text-name {
    position: absolute;
    top: -18px;
    left: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;

    letter-spacing: 0.01em;

    color: var(--main-text-color);
}

.form-input {
    margin-bottom: 30px;
    padding-left: 40px;

    width: 100%;
    height: 40px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}





.form-input:hover+.modal-icon,
.form-input:focus+.modal-icon {
    fill: var(--accent-color);
}

.modal-icon:hover,
.modal-icon:focus {
    fill: var(--accent-color);
}

.form-input:hover,
.form-input:focus {
    border-color: var(--accent-color);

}
.modal-icon {
    position: absolute;
    top: 28%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* ==============form================== */
/* ==============form-footer================== */

.join {
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--main-text-color-w)
}

.footer__form__tumb {
    position: relative;
}
.btn-footer {
    position: absolute;
    display: flex;
    top: 24px;
    left: 10px;
}


.mail-input {
    width: 358px;
    height: 50px;
    padding-left: 15px;
    color: var(--main-text-color-w);
    border-radius: 4px;
    background: transparent;
    outline: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-send {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    fill: var(--main-text-color-w);
}
/* ==============form-footer================== */